@tailwind base; @tailwind components; @tailwind utilities;

/* Включаем нативную темную тему для всплывающего календаря в браузере */
input[type="date"] {
  color-scheme: dark;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0.7;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}
